# https://www.kernel.org/doc/html/latest/kbuild/kconfig-language.html#introduction
menu "lunokIoT"
    choice
        prompt "Device support"
        help
            select Select device to support
        default LUNOKIOT_DEVICE_ESP32
        config LUNOKIOT_DEVICE_ESP32
            bool "ESP-32 based board"
            help
                Generic unspecified ESP32
        config LUNOKIOT_DEVICE_M5STACK_ATOM_LITE
            bool "M5Stack Atom Lite"
            help
                Enable support for M5Stack Atom lite device
    endchoice
endmenu
